* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 20px;
    box-sizing: border-box;    
    margin: 5px;
}


:root {
    --white: #FFF;
    --black: #000; 
    --green: #94ff5f; 
    --lightgreen: #b0ff89; 
    --darkgreen: #3b5b2a; 
    --darkestgreen: #203316;
    --softgreen: #98cc7f; 
    --blue: #25c8ed;
    --orange: #ffaa00;
    --yellow: #f9d938;
}

/* misc */
body {
    background-color: var(--darkestgreen);
}

.select {
    display: flex;
    justify-content: center;
    color: var(--darkgreen);
    background-color: var(--green);
    border-radius: 5px;
    font-size: 30px;
}
        option {
            background-color: #98cc7f;
        }

input {
    background-color: var(--softgreen);
    color: var(--darkestgreen);
}

::placeholder {
    text-align: center;
    color: var(--darkgreen);
}

.apply {
    background-color: var(--lightgreen);
    color: var(--darkestgreen);
}

.print {
    background-color: var(--lightgreen);
    color: var(--darkestgreen);
}